<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La ThomiLibrairie - {{ series_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="series-detail">
        <div class="series-header">
            <div class="series-image">
                <img src="{{ url_for('static', filename='pictures/' + series_name|string + '.jpg') }}" alt="{{ series_name }} Poster">
            </div>
            <div class="series-info">
                <h1>{{ series_name }}</h1>
                {% if description %}
                <div class="series-description">
                    <p>{{ description[0] }}</p>
                </div>
                {% endif %}
            </div>
        </div>
        <h2>Episodes</h2>
        <a href="{{ url_for('series_all', series_name=series_name) }}" class="episode-link">
        <div class="play">
            <img src="{{ url_for('static', filename='assets/play.png') }}"
            alt="{{ play_button }} Poster">
        </div>
        </a>
        <div class="episodes-list">
            {% for episode in episodes %}
            <div class="episode-card">
                <a href="{{ url_for('series_file', id=episode[0]) }}" class="episode-link">
                    <div class="episode-title">{{ episode[2].split('/')[-1] }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
